footer.row.jumbotron.jumbotron-fluid.footer
        .container
            p Copyright &copy; 2016 Your Company | Built by the dudes at #[a(href="http://wingtip.solutions" target="_blank") Wingtip]
                .social-tray
                    a(href="#", target="_blank")
                        span.fui-facebook
                    a(href="#", target="_blank")
                        span.fui-twitter
                    a(href="#", target="_blank")
                        span.fui-linkedin
                    a(href="#", target="_blank")
                        span.fui-instagram