//- Facebook 
//- Follow their best practices: https://developers.facebook.com/docs/sharing/best-practices
meta(property="og:title", content="")
meta(property="og:site_name", content="")
meta(property="og:url", content=" ")
meta(property="og:description", content="")
meta(property="og:image", content="")
meta(property="og:type", content="website")
meta(property="og:locale", content="")
//- Twitter
//- You'll need to register your Twitter card before it will work: https://dev.twitter.com/docs/cards/validation/validator
meta(property="twitter:card", content="summary")
meta(property="twitter:title", content="")
meta(property="twitter:description", content="")
meta(property="twitter:creator", content="@")
meta(property="twitter:url", content="")
meta(property="twitter:image", content="")
//- Google+
link(rel="author", href="")
link(rel="publisher", href="")