extends layout

block content
    .row
        div.jumbotron.jumbotron-fluid
            div.container
                h1= message
                h2.white= error.status
        if error.stack
            pre #{error.stack}
        else
            .container:.row:.col-md-12
                h2 Sorry about that
                p This page can't be found, #[a(href="/") go back to the homepage?]
