extends layout

block content
    .row
        div.jumbotron.jumbotron-fluid
            div.container
                h1.display-3.wow.fadeIn Ocean
                p.lead.wow.fadeIn(data-wow-delay="1s", data-wow-duration="2s") A flexible Bootstrap 4 website framework with a built-in Node.js server
                a(href="https://github.com/louisotto/ocean", target="_blank").btn.btn-primary.btn-lg.wow.fadeIn(data-wow-delay="2.5s")
                    span.fui-github.white  Download on Github
                a(href="/docs").btn.btn-primary-outline.btn-lg.wow.fadeIn(data-wow-delay="2.8s")
                    span.fui-search.white  Read the Docs
    .row.pad:.col-sm-10.col-sm-offset-1
        h2.center About this site
        p.lead.
            Ocean uses some pretty clever technology under the hood. You've got #[a(href="https://nodejs.org/en/", target="_blank") NodeJS] powering the server with a layer of #[a(href="http://expressjs.com/", target="_blank") Express] magic. Templates are handled by the magnificent #[a(href="http://jade-lang.com/", target="_blank") Jade], and then you've got #[a(href="http://v4-alpha.getbootstrap.com/", target="_blank") Bootstrap 4] with a dash of #[a(href="http://designmodo.github.io/Flat-UI/", target="_blank") Flat UI] for good measure. Oh, and subtle animations courtesy of #[a(href="https://daneden.github.io/animate.css/", target="_blank") Animate.css] and #[a(href="http://mynameismatthieu.com/WOW/", target="_blank") Wow.js]

        p.
            Static sites are all the rage these days. We seem to be moving full-circle in our approach to building websites. Once upon a time, all websites were static, but then popular CMS solutions like WordPress took all the pain away from maintaining lots of static pages by giving us dynamically generated pages instead!

        p.
            We exchanged static-page maintenance for ease-of-use, and low maintenance page updating. Unfortunately we also took on painfully-slow database connections, and the host of security flaws associated with them...

        p.
            To cut a long story short. Static sites are on the rise again, and for simple, informative websites they're a perfect fit. Services like Github Pages and Amazon S3 Cloudfront are great for static sites that handle high traffic and don't have any of the database or security issues you may encounter day-to-day.
    .row.pad.bg:.col-sm-10.col-sm-offset-1
        h2.center.wow.fadeIn So what is Ocean?
        p.lead.wow.fadeIn.center.
            Ocean is an open-source static website framework built on NodeJS. Here's some of the stuff it includes out the box:

        .card-columns
            .card.card-block.wow.fadeIn
                h4.card-title Built-in Server
                p.card-text Ocean comes with a built-in NodeJS server that uses Express for easy extending.
            .card.card-block.wow.fadeIn
                h4.card-title Simple Routing
                p.card-text Routing is already set up in matched route:view-template pairs.
            .card.card-block.wow.fadeIn
                h4.card-title Production-ready configuration
                p.card-text Gzip? Check. Caching? Gotcha. Minified HTML? Yep. Lots of clever tech to increase performance.
            .card.card-block.wow.fadeIn
                h4.card-title Animation as standard
                p.card-text Wow.js is included and already set up to add extra class to your pages.
            .card.card-block.wow.fadeIn
                h4.card-title Bootstrap 4
                p.card-text The latest version of Bootstrap is included via CDN so you can start working with tomorrow's best framework.
            .card.card-block.wow.fadeIn
                h4.card-title Full documentation
                p.card-text Running is one thing, extending is another. Documentation has you covered.
            .card.card-block.wow.fadeIn
                h4.card-title Open Source
                p.card-text Nothing's locked down, and contribution is welcomed - Go nuts!
            .card.card-block.wow.fadeIn
                h4.card-title Server Security
                p.card-text Helmet is included and preconfigured to keep things secure with minimal effort
        
    .row.pad:.col-sm-10.col-sm-offset-1
        h2.center.wow.fadeIn    So how do I use Ocean?
        p.lead.wow.fadeIn.
            I built Ocean to be really simple to get up and running. If you've already got Node installed, there are only 3 steps:
        .card-deck-wrapper
            .card-deck
                .card.wow.fadeIn(data-wow-delay="0s")
                    img.card-img-top.img-fluid.center.icon-img(src="/images/build/arrow.png", alt="Alt text", width="150")
                    .card-block
                        h4.card-title.center Download
                        p.card-text.
                            Download the source directly from #[a(href="https://github.com/louisotto/ocean", target="_blank") Github]
                .card.wow.fadeIn(data-wow-delay="0.5s")
                    img.card-img-top.img-fluid.center.icon-img(src="/images/build/three.png", alt="Alt text", width="150")
                    .card-block
                        h4.card-title.center Install
                        p.card-text.
                            Run #[kbd npm install] in the project directory
                .card.wow.fadeIn(data-wow-delay="1s")
                    img.card-img-top.img-fluid.center.icon-img(src="/images/build/sports.png", alt="Alt text", width="150")
                    .card-block
                        h4.card-title.center Run
                        p.card-text.
                            Run #[kbd npm start] and go to http://localhost:3000
    .row.pad.bg:.col-sm-8.col-sm-offset-2
        h2.center.wow.fadeIn Where do I go from here?
        p.wow.fadeIn.
            Ocean is really easy to extend and modify, this site already has a few easy-to-use templates that use common design patterns. Drop in your content and change them to suit your needs and go from there!
        p.wow.fadeIn.
            Also, #[a(href="/docs") read the docs!]
