extends layout

block content
    .row
        div.jumbotron.jumbotron-fluid
            div.container
                h1.display-3.wow.fadeIn Portfolio
                p.lead.wow.fadeIn A few example layout styles of showing off cool work
    .row:.col-sm-12
        h2.center Grid of images + Fancybox

        .col-sm-12.work
            .col-md-4.work-item.wow.fadeIn(data-wow-delay="1s")
                a.fancybox(rel="group", href="/images/placeholder.jpg", title="Name of portfolio piece")
                    img.img-fluid(src="/images/placeholder.jpg",alt="Alt text")
            .col-md-4.work-item.wow.fadeIn(data-wow-delay="1.2s")
                a.fancybox(rel="group", href="/images/placeholder.jpg", title="Name of portfolio piece")
                    img.img-fluid(src="/images/placeholder.jpg",alt="Alt text")
            .col-md-4.work-item.wow.fadeIn(data-wow-delay="1.4s")
                a.fancybox(rel="group", href="/images/placeholder.jpg", title="Name of portfolio piece")
                    img.img-fluid(src="/images/placeholder.jpg",alt="Alt text")
            .col-md-4.work-item.wow.fadeIn(data-wow-delay="1.6s")
                a.fancybox(rel="group", href="/images/placeholder.jpg", title="Name of portfolio piece")
                    img.img-fluid(src="/images/placeholder.jpg",alt="Alt text")
            .col-md-4.work-item.wow.fadeIn(data-wow-delay="1.8s")
                a.fancybox(rel="group", href="/images/placeholder.jpg", title="Name of portfolio piece")
                    img.img-fluid(src="/images/placeholder.jpg",alt="Alt text")
            .col-md-4.work-item.wow.fadeIn(data-wow-delay="2s")
                a.fancybox(rel="group", href="/images/placeholder.jpg", title="Name of portfolio piece")
                    img.img-fluid(src="/images/placeholder.jpg",alt="Alt text")